<div class="calendar">
  <div>
    <div (click)="changeMode('start')" class="datetimepicker-selection-start" [ngClass]="{'bg-blue': mode === 'start' && includeEndDate, 'bg-red': isInvalid }">
      <div *ngIf="startDate" class="w33p align-left">
        {{ startDate.format('D MMM, YYYY') }}
      </div>
      <div *ngIf="!startDate" class="w33p align-left">
        Pick date
      </div>
      <div *ngIf="includeTime" class="w56p align-right">
        <div *ngIf="startDate">
          <input 
            #startTimePicker
            type="text" 
            [ngModel]="startDate.format('h:mm A')" 
            (ngModelChange)="setStartTime($event)" 
            (blur)="handleTimeChange(startTime, startDate, 'start')" 
            (keyup.enter)="handleTimeChange(startTime, startDate, 'start')"
          >
        </div>
        <div *ngIf="!startDate" class="w56p align-right">
          --
        </div>
      </div>
    </div>
    <div (click)="changeMode('end')" *ngIf="includeEndDate" class="datetimepicker-selection-start" [ngClass]="{'bg-blue': mode === 'end' && includeEndDate}"> 
      <div *ngIf="endDate" class="w33p align-left">
        {{ endDate.format('D MMM, YYYY') }}
      </div>
      <div *ngIf="!endDate" class="w33p align-left"> 
        Pick date
      </div>
      <div *ngIf="includeTime" class="w56p align-right">
        <div *ngIf="endDate">
          <input 
            #endTimePicker
            type="text" 
            [ngModel]="endDate.format('h:mm A')"
            (ngModelChange)="setEndTime($event)" 
            (blur)="handleTimeChange(endTime, endDate, 'end')" 
            (keyup.enter)="handleTimeChange(endTime, endDate, 'end')"
          >
        </div>
        <div *ngIf="!endDate" class="w56p align-right">
          --
        </div>
      </div>
    </div>
  </div>
  <div class="calendar-nav">
    <div class="calendar-nav-previous-month">
      <button class="button is-text" 
        (click) = "changeNavMonth(-1)"
        [disabled] = "!canAccessPrevious">
        <i class="fa fa-chevron-left" ></i>
      </button>
    </div>
    <div>{{navDate.format('MMMM YYYY')}}</div>
    <div class="calendar-nav-next-month">
      <button class="button is-text" 
        (click) = "changeNavMonth(1)"
        [disabled] = "!canAccessNext">
        <i class="fa fa-chevron-right" ></i>
      </button>
    </div>
  </div>
  <div class="calendar-container">
    <div class="calendar-header">
      <div class="calendar-date"
        *ngFor = "let day of weekDaysHeaderArr">
        {{day}}
      </div>
    </div>
    <div class="calendar-body" *ngIf="includeEndDate; else notRange">
      <ng-container *ngIf="gridArr">
        <div *ngFor = "let day of gridArr[currentYear][currentMonth]" class="calendar-date"
          [ngClass]="{
          'is-disabled': !day.available,
          'calendar-range': day.inRange, 
          'calendar-range-start': day.value === startDay?.value &&  day.month === startDay?.month && day.year === startDay?.year ,
          'calendar-range-end': day.value === endDay?.value && day.month === endDay?.month && day.year === endDay?.year}" >
          <button 
            *ngIf = "day.value !== 0" 
            class="date-item"
            [ngClass]="{'is-active': day.isActive, 'is-today': day.isToday}"
            (click) = "selectDay(day)"> {{day.value}}</button>
          <button *ngIf = "day.value === 0" class="date-item"></button>
      </div>
      </ng-container>
    </div>
    <ng-template #notRange>
      <div class="calendar-body">
        <div *ngFor = "let day of gridArr[currentYear][currentMonth]" class="calendar-date"
          [ngClass]="{'is-disabled': !day.available }">
          <button 
            *ngIf = "day.value !== 0" 
            class="date-item" 
            [ngClass]="{'is-active': day.isActive, 'is-today': day.isToday}"
            (click) = "selectDay(day)">{{day.value}}</button>
          <button *ngIf = "day.value === 0" class="date-item"></button>
        </div>
      </div>
    </ng-template>
    <div class="pb10 flex" *ngIf="isRange">
      <div class="w33p align-left pl10">
        <label>
          End date
        </label>
      </div>
      <div class="w56p align-right">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="includeEndDate" (change)="handleModeChange()">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="pb10 flex" *ngIf="hasTime">
      <div class="w33p align-left pl10">
        <label>
          Include time
        </label>
      </div>
      <div class="w56p align-right">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="includeTime">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="datetimepicker-footer">
      <button type="button" class="datetimepicker-footer-clear has-text-danger button is-small is-text" (click)="clear()">Clear All</button>
    </div>
  </div>
</div>



